.js-show-more.inactive {
    opacity: 0.3;
}

.js-product-photos a.hidden {
    display: none;
}

.inquiries__block__item__img img {
    max-height: 85px;
}


/* Правки меню */

.news-detail {
    text-align: center;
}
.news-detail h1 {
    margin-top: 50px;
    margin-bottom: 20px;
}
.news-detail img {
    margin-bottom: 50px;
}
.news-detail .core__btn {
    margin-top: 20px;
}

form[name="bform"],
.bx-auth {
    display: block;
    max-width: 1140px!important;
    margin: 20px auto;}

.header__form__search {
    margin-top: 0;
}

#title-search-input-footer::-webkit-input-placeholder {color:#fff;}
#title-search-input-footer::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
#title-search-input-footer:-moz-placeholder           {color:#fff;}/* Firefox 18- */
#title-search-input-footer:-ms-input-placeholder      {color:#fff;}


.header__form__btn__file {
    color: #5db32c!important;
}

.catalog__list__item__text {
    min-height: 150px;
}
.catalog__detail__main__list__item__img img {height: 100%}

.breadcrumbs {
    font-size: 14px;
}

.catalog__detail__head__img__work img {max-width: 220px}

.header__menu__line {}
.header__menu__line ul {
    display: table;
    width: 100%;
}
.header__menu__line ul li {
    display: table-cell;
    min-height: 70px;
    height: 100%;
    vertical-align: middle;
    float: none;
}
.header__menu__line ul li:hover,
.header__menu__line ul li.active {
    background: #299a22;
}

.header__menu__line ul li a {
    height: 100%;
}
.header__menu__list.active {
    display: block;
}
.slider__cat__item__name {
    min-height: 93px;
}
.catalog__detail__head {
    min-height: 160px;
}

.catalog__list__item__img__work img,
.catalog__detail__head__img__work img {
    width: auto;
    max-height: 88px;
}

.header__menu__line li a:hover, .header__menu__line li a:focus, .header__menu__line li a:active, .header__menu__line li a.active, .header__menu__line li a:active:focus, .header__menu__line li a:active:hover, .header__menu__line li a.active:focus, .header__menu__line li a.active:hover {
    background: transparent;
}
.catalog__detail__main__list__item__name{
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
}